<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-prettyjson/dist/ng-prettyjson.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="fecApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">

        <breadcrumb></breadcrumb>

        <ul class="nav nav-pills pull-right">
          <li>
            <a href='/'>
              <span class="glyphicon glyphicon-share-alt"></span>
            </a>
          </li>
        </ul>
      </div>

      <div ng-view=""></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from darul75</p>
      </div>
    </div>

    <script type="text/ng-template" id="main.html">

      <div class="row marketing">
        <div ng-repeat="rootItem in rootItems">
          <a ng-href="#/item/{{rootItem.id}}" style='position: relative;width: 100%;'>
            <img src='images/cleaning.jpg' width='100%' height='200' />
            <h4 ng-bind="rootItem.label" style='position: absolute;background: #000;top: 0px;'></h4>
          </a>
          <p></p>
        </div>
      </div>

    </script>

    <script type="text/ng-template" id="item.html">

      <div class="row marketing">
        <div ng-if='item.parent' ng-repeat="item in itemChildren">
          <a ng-href="#/item/{{item.id}}/job"><h4 ng-bind="item.label"></h4></a>
          <p></p>
        </div>
      </div>

    </script>

    <script type="text/ng-template" id="job.html">

      <div class="row marketing">
        <ul>
          <li ng-repeat='idx in item.job.order' class='content'>
            <span ng-if="renderInfo(item.job, idx) !== 'select'" ng-bind='renderInfo(item.job, idx)' class='text'></span>
            <jobinfodetail ng-if="renderInfo(item.job, idx) === 'select'" item="item" idx="{{idx}}"></jobinfodetail>
          </li>
        </ul>
      </div>
      <pre pretty-json="json" style='margin-top:50px' />

    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-prettyjson/dist/ng-prettyjson.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/feccache.js"></script>
        <script src="scripts/directives/jobinfodetail.js"></script>
        <script src="scripts/directives/breadcrumb.js"></script>
        <!-- endbuild -->
</body>
</html>
